$colorPrimary: rgba(30, 3, 54, 0.767);
$colorForm: rgb(221, 218, 169);
$colorInput: rgba(137, 43, 226, 0.082);
$colorError: red;
$colorFieldset: rgba(137, 43, 226, 0.205);
$df-height: 100vh;
$df-width: 100vw;
$df-font: 'Nunito Sans', sans-serif;